import React from 'react';
import './{{pascalCase name}}.css';

export const {{pascalCase name}} = () => {
    return (
        <div className="{{pascalCase name}}">
            {{pascalCase name}} Component
        </div>
    );
};
