.catalog-aside {
  display: flex;
  flex-direction: column;
  width: 12.5rem;
  margin-right: 0.3125rem;
  gap: 0.625rem;
}

.catalog-aside-title {
  width: 12.5rem;
}

.manufacture-select {
  width: 12.5rem;
}

.aside-buttons {
  display: flex;
  justify-content: space-around;
}
