.card {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.625rem;
  justify-content: space-between;
  cursor: pointer;
}

.card-img {
  transition: all 0.5s;
  width: 15.625rem;
  height: 15.625rem;
}

.card-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.3125rem;
  margin-top: 0.625rem;
}

.card:hover {
  box-shadow: 0 0.25rem 0.1875rem 0.0625rem rgb(0 0 0 / 60%);
}

.card:hover > .card-img {
  transform: scale(1.1);
}
