@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,800");

#root {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  color: black;
}

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

html {
  overflow-y: scroll;
}
