@import url('https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,800');

#root {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  /* color: black; */
}

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #1976d2 transparent;
  user-select: none;

  /* -webkit-text-stroke: .2px red */
}

body {
  overflow-y: scroll;
  background-image: url('../../../public/assets/images/motherboard.png');
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background: #1976d2;
}
